@model IEnumerable<Cumulative1.Models.Class>

@{
    ViewBag.Title = "List";
}

<h2>List of Classes</h2>

<form action="/Class/List" method="GET">
    <div>
        <input type="text" name="ClassSearchKey" />
        <input type="submit" value="Search" />
    </div>
</form>

@{
    foreach (Cumulative1.Models.Class Class in Model)
    {
        <div><a href="/Class/Show/@Class.ClassId">@Class.ClassCode @Class.ClassName</a></div>
    }
}
